.container {
    padding: 15px 10%;
}

.sliderHome {
    padding: 25px 0;
}

.sliderp {
    font: normal normal 600 23px/35px 'Montserrat';
    padding: 15px 0;
    min-width: 150px;
    width: fit-content;
}