.slide {
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 5px 3px 10px #28282850;
    transition-duration: 0.2s;
    overflow: hidden;
    margin: 10px;

    &:hover {
        transform: scale(1.03);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    p {
        position: absolute;
        bottom: 0;
        background-color: #28282875;
        width: 100%;
        padding: 5px 0;
        color: white;
        text-align: center;
    }
}